/* COULEUR */

:root {
  --main-color: #ff4825;
}

.sidebar,
.menu-mobile-links-category,
aside.sidebar:after,
/* body[data-category="evenements"] .preview-event .preview-event-container .preview-event-cover, */
/* body[data-category="evenements"][data-depth="1"] .preview-event .preview-event-container .preview-event-cover, */
::selection
 {
  background-color: var(--main-color) !important;
}

body[data-category=evenements] .preview-event .preview-event-container .preview-event-cover,
body[data-category=evenements][data-depth="1"] .preview-event .preview-event-container .preview-event-cover {
  border-color: var(--main-color) !important;
}

main a, .is-active,
.menu .links .link a:hover,
.linkbox:hover,
main aside.outside li:before {
  color: var(--main-color) !important;
}

.grid-item:hover {
  outline-color: var(--main-color) !important;
}

/* ================= Correction code Arnaud ================= */
.preview-member .preview-member-infos {
  text-transform: none !important;
}

/* CUSTOM */

.showMore {
  color:  var(--main-color);
  cursor: pointer;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 120% !important;
}

note {
  cursor: pointer;
  font-weight: 600;
}

.splashscreen-wrapper--custom {
  left: 20% !important;
  right: 20% !important;
}

.splashscreen-baseline {
  text-transform: none !important;
  margin-bottom: 0 !important;
}

.splashscreen-hometext--custom {
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 110%;
}

.link-icon {
  display: none !important;
}

.sidebar header .sidebar-icon svg,
.menu-mobile-links-category-title-icon {
  display: none;
}

.sidebar-logo {
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.to-home:hover .sidebar-logo {
  transform: scale(1.1);
}

/*==================== FONT FACES ====================*/
@font-face {
    font-family: 'Swis721 BT';
    src: url('/assets/fonts/Swiss721BT/Swiss721BT-Bold.woff2') format('woff2'),
        url('/assets/fonts/Swiss721BT/Swiss721BT-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Swis721 BT';
    src: url('/assets/fonts/Swiss721BT/Swiss721BT-BoldItalic.woff2') format('woff2'),
        url('/assets/fonts/Swiss721BT/Swiss721BT-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Swis721 BT';
    src: url('/assets/fonts/Swiss721BT/Swiss721BT-Roman.woff2') format('woff2'),
        url('/assets/fonts/Swiss721BT/Swiss721BT-Roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Swis721 BT';
    src: url('/assets/fonts/Swiss721BT/Swiss721BT-Roman.woff2') format('woff2'),
        url('/assets/fonts/Swiss721BT/Swiss721BT-Roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Swis721 BT';
    src: url('/assets/fonts/Swiss721BT/Swiss721BT-Bold.woff2') format('woff2'),
        url('/assets/fonts/Swiss721BT/Swiss721BT-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Swis721 BT';
    src: url('/assets/fonts/Swiss721BT/Swiss721BT-Roman.woff2') format('woff2'),
        url('/assets/fonts/Swiss721BT/Swiss721BT-Roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Swis721 BT';
    src: url('/assets/fonts/Swiss721BT/Swiss721BT-Italic.woff2') format('woff2'),
        url('/assets/fonts/Swiss721BT/Swiss721BT-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Swis721 BT';
    src: url('/assets/fonts/Swiss721BT/Swiss721BT-Italic.woff2') format('woff2'),
        url('/assets/fonts/Swiss721BT/Swiss721BT-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Swis721 BT';
    src: url('/assets/fonts/Swiss721BT/Swiss721BT-BoldItalic.woff2') format('woff2'),
        url('/assets/fonts/Swiss721BT/Swiss721BT-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Swis721 BT';
    src: url('/assets/fonts/Swiss721BT/Swiss721BT-Bold.woff2') format('woff2'),
        url('/assets/fonts/Swiss721BT/Swiss721BT-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

/*==================== PRESENTATION ====================*/
.presentation h1,
.presentation h2,
.presentation h3,
.presentation h4,
.presentation p,
.presentation a {
  font-family: sans-serif;
  line-height: 110%;
}

.presentation h1 {
  font-size: 6.55vw;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 3rem;
}

.presentation h2 {
  font-weight: 400;
  font-size: 2.9vw;
}

.presentation p {
  line-height: 130%;
}

.presentation quote {
  font-size: 4.5rem;
  line-height: 110%;
  font-style: italic;
  margin-bottom: 3rem;
}

.position {
  margin: 3rem 0 3rem 0;
  font-weight: bold;
}

.presentation {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.presentation img {
  max-width: 25%;
}

.controls {
  position: fixed;
  z-index: 2;

  width: 100vw;
  height: 100vh;

  display: flex;
}

.controls__mobile {
  position: absolute;
  top: 6rem;

  width: 100%;

  display: none;
  justify-content: center;
}

.controls__mobile img {
  height: 12px;
}

.prev,
.next {
  width: 50vw;
  height: 100vh;
}

.prev:hover {
  cursor: url('/assets/images/prev.png'), auto;
}

.next:hover {
  cursor: url('/assets/images/next.png'), auto;
}

.slides {
  width: 70%;
  height: 90%;
}

.slide {
  width: 100%;
  height: 100%;
  opacity: 0;

  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

}

line {
  width: 100%;
  height: 1px;
  background-color: #000;
  margin: 2rem 0 2rem 0;
}

point {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  vertical-align: middle;
  border-radius: 1rem;
  background-color: #000;
  margin: 0 .5rem 0 .5rem;
}

@media screen and (max-width: 700px) {
  .splashscreen-wrapper--custom {
    left: 10% !important;
    right: 10% !important;
  }

  .splashscreen .splashscreen-logo {
    width: 15vmax !important;
  }

  .controls__mobile {
    display: flex;
  }

  .slides {
    width: 90%
  }

  .presentation h1 {
    font-size: 8vw;
  }

  .presentation h2 {
    font-size: 3vh;
  }

  .presentation p {
    font-size: 1.5rem;
  }

  .presentation quote {
    font-size: 2.5rem;
  }

  point {
    width: .5rem;
    height: .5rem;
    margin: 0 .3rem 0 .3rem;
  }

  .presentation img {
    max-width: 50%;
  }

  .sidebar-title {
    background: var(--main-color) !important;
  }
}
