body, p {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5,
p {
  text-align: center;
  font-family: 'Assistant', sans-serif;
  font-weight: 400;
}

a {
  color: #000;
  text-decoration: none;
}

#logos {
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

img {
  width: 100%;
}

.logo-link {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 50%;
}

/* ================= ARROW ================= */
#arrow-wrapper {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

#arrow {
  width: 48px;
}

/* ================= BAM ================= */
#logo-link--bam {
  background-color: #F4F5F4;
}

#logo--bam {
  text-align: center;
}

#logo--bam img {
  width: 35%;
}

h1 {
  font-size: 2vw;
}

/* ================= PRATICABLE ================= */
#logo-link--praticable {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect opacity='1' width='1.2' height='1.2' fill='black'/%3E%3C/svg%3E");
}

#logo--praticable {
  width: 57%;
}

/* ================= FOOTER ================= */
#footer {
  background-color: #000;
  color: #fff;
  width: 100%;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#footer p {
  font-size: 20px;
  margin: 2rem 2rem;
}

@media screen and (max-width:700px) {
  #logo--praticable {
    width: 65%;
  }

  #logo--bam img {
    width: 70%;
  }

  #arrow {
    width: 30px;
  }

  #footer p {
    font-size: 15px;
  }
}